
body{
	background-image: linear-gradient(to bottom, #AD5C33 0%, #8F4700 100%);
}

/*___________________CSS for Nav________________________*/
.header{/* the whole box around the nav*/
	display:block;
	width: 80%; 
	padding: 10px 0;
	margin: 0 auto;
	margin-bottom: 3%;
	text-align: center;
	font-family: 'Calligraffitti', cursive;
	font-size: 30px;
	background-color: #FFFFFF;
}

/*______________________________________________________*/


.content{
	width: 70%;
	margin-left: 15%;
	line-height: 30px;
	font-family: 'Josefin Slab', serif;
	font-size: 22px;
	line-height: 30px;
	word-spacing: 2px;
	
}

.the_story{
	padding-bottom: 100px;
}

.project_mind{
	text-align: center;
	padding-bottom: 100px;
}
.project_mind a{
	text-decoration: none;
	font-family: 'Josefin Slab', serif;
	font-size: 15px;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding:0 6px;
}
.project_mind a:hover{
	background-color: #3399FF;
}









